<div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: lightgray;">
    <div style="text-align: center;">
        <h1 style="font-size: 2.5rem; margin-bottom: 1rem;">This is the blog admin's article adding and editing page.</h1>
        <p>Additionally, some additional features may be added, such as:</p>
        <ul style="text-align: left;">
            <li>Changing the site's background color</li>
            <li>Including monthly charts to show the number of articles written</li>
        </ul>
    </div>
</div>